body {
  background-color: black;
  background: url("arcade--3.jpg") center fixed;
  background-size: cover;
}

h1 {
  color:  rgb(237, 68, 197);
  /* font-family: ; */
  text-decoration: none;
  font-size: 32px;
  margin: 35px;
  }

Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collection {
  margin: 40px;
}

button, input {
  margin: 5px;
  background-color: black;
  color:  rgb(237, 68, 197);
  font-size: 14px;
  font-weight: bold;
}

form {
  padding: 50px;
  text-align: center;
}

.game-container, .list {
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.5);
  color: rgb(237, 68, 197);
  max-width: 800px;
}

.game-details {
  padding: 25px;
  text-align: left;
  font-size: 12px;
}

.game-info {
  padding: 25px;
  margin: 0 auto;
  text-align: left;
  max-width: 750px;
}

.game-images {
  padding: 25px;
  margin: 0 auto;
  max-width: 500px;
}
  
img {
  max-width: 500px;
}

@media only screen and (max-width: 650px) {
  section, img {
    max-width: 500px;
  }
}